@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  width: 250px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f3f0f1;
}
body .button {
  width: 200px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
body .button span {
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: semibold;
}
body .button {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #575557;
}
body .button:hover {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #79e3b6;
}
body .button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}